@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  max-width: 2400px;
  margin: 0 auto;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox  */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.active-type {
  @apply opacity-100;
}

.left-arrow-shadow {
  box-shadow: 10px 0px 10px 5px rgb(255 255 255);
}
.right-arrow-shadow {
  box-shadow: -20px 0px 15px 0px rgb(255, 255, 255);
}
